@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* --background: #0e0d0f; */
  /* --lightBg: #e9f1f4; */
  --lightBg: #f9f9f9;
  --supportingColorBlue: #3b5f7d;
  --terminalBorder: #312f2e;
  --topTerminal: #1c272d;
  --terminalBlue: #1398b6;
  --sharpRed: #e61635;
  --supportingColorGreen: #8edfca;
  --lineStroke: #59575b;
  --radius: 0.625rem;
  --background: oklch(0.13 0.015 241);
  --foreground: oklch(0.86 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-Open_Sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

body {
  font-family: var(--font-sans);
  overflow-x: hidden;
}
/*  */
@layer components {
  .myResumeContent {
    @apply block w-full text-sm leading-6 px-1 py-6 border-b border-[var(--lineStroke)];
  }
}

/* css shapes */
.trapezoid {
  width: 52%;
  height: 60vh;
  max-height: 486px;
  background: var(--supportingColorBlue);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 74% 100%);
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.yearGredient {
  background: linear-gradient(90deg, #e61635, #4d0c67);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For non-webkit browsers */
  background-clip: text;
  color: transparent;
  font-family: "Baskervville SC", serif;
}

/* Info Board */
.infoBoard {
  /* width: 96%;
  width: 596px; */
  max-width: 620px;
  min-height: 310px;
  background-image: url("./../public/assets/infoBoardBg.png");
  background-color: var(--topTerminal);
  border: 24px solid var(--terminalBorder);
  margin: 42px auto;
  padding: 0px 15px;
  position: relative;
  box-shadow: -20px 13px 12px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.infoBoardHookLeft,
.infoBoardHookRight {
  position: absolute;
  top: -76px;
  background-color: var(--terminalBorder);
  width: 30px;
  height: 56px;
}
.infoBoardHookLeft {
  left: 40px;
}
.infoBoardHookRight {
  right: 40px;
}

/* MIDDLE SECTION */
.inTheTown {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  max-width: 399px;
  height: 369px;
}

.hiThereRightLine {
  position: absolute;
  top: 0;
  right: 0px;
  width: 29px;
  height: 40%;
  background-color: #313f4f;
  z-index: -2;
}
.dottedLine {
  position: absolute;
  top: 100px;
  /* left: 27%;
  right: 50%; */
}
.luggage {
  position: absolute;
  bottom: 280px;
  right: 0;
  /* max-width: 160px;
  height: auto; */
}
.journeyTag {
  /* position: absolute;
  top: 43%;
  right: 80px; */
  /* width: 300px; */
  max-width: 340px;
  color: var(--terminalBlue);
  /* background-color: rgba(25, 27, 30, 0.3);
  box-shadow: 3px 4px 5px #000; */
  z-index: 20;
  /* font-size: 1.7em; */
}
.bracketBox {
  z-index: -10;
}
.bracketBox1,
.bracketBox {
  display: inline-block;
  padding: 16px 24px;
  position: relative;
}

/* Top-left bracket */
.bracketBox::before,
.bracketBox1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-left: 3px solid var(--supportingColorBlue);
  border-top: 3px solid var(--supportingColorBlue);
}

/* Bottom-right bracket */
.bracketBox::after,
.bracketBox1::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-right: 3px solid var(--supportingColorBlue);
  border-bottom: 3px solid var(--supportingColorBlue);
}

/* header */
.headerBg {
  --p: 70px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - var(--p)));
  background: #e4e9ec; /* or whatever you want */
  color: var(--background);
  box-shadow: 9px 7px 6px #000;
}

/* custom scroll csss */
/* Target the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* width for vertical scroll */
  height: 5px; /* height for horizontal scroll */
}
/* Track (background) */
::-webkit-scrollbar-track {
  background: var(--terminalBorder);
  border-radius: 5px;
}
/* Handle (scroll thumb) */
::-webkit-scrollbar-thumb {
  background: var(--terminalBlue);
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--supportingColorGreen);
}

/* delete the below classes */
/* delete the below classes */
/* delete the below classes */
/* delete the below classes */
.lightCol {
  color: #312f2e;
}
.pages {
  width: 100%;
  max-width: 1288px;
  height: auto;
  padding: 10px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}
.resume {
  width: 100%;
  max-width: 991px;
  height: auto;
  padding: 10px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}
.half {
  width: 40%;
}
/* Home Slideing Cards */

.section {
  position: relative;
  margin-top: -100px;
  height: 100vh; /* This is the correct value */
  overflow: hidden;
}

.empty {
  opacity: 0;
}

/* Cards container */
.cards {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150vw;
  height: 600px;
  will-change: transform;
}

/* Individual cards */
.card {
  position: absolute;
  width: 369px;
  height: 439px;
  top: 42%;
  left: 50%;
  margin-left: -184.5px;
  transform-origin: center center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* background-color: #1b1a1a; */
  background: url("./../public/assets/infoBoardBg.png") repeat;
  will-change: transform;
  box-shadow: 21px 14px 7px #040607;
  color: var(--foreground);
}

.cardInner {
  position: absolute;
  right: 290px;
  top: 5%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
}

/* Step Counter */
.step-Counter {
  position: absolute;
  top: 100px;
  z-index: 10;
  background-color: rgba(12, 82, 136, 0.1);
  border-radius: 30% 40% 50% 10%;
}

.counter-title h1 {
  font-size: 80px;
  margin: 0;
  line-height: 1;
}
.loveCards {
  width: 369px;
  min-width: 369px;
  height: 439px;
  display: flex;
  flex-direction: column;
  background: url("./../public/assets/infoBoardBg.png") repeat;
  box-shadow: 21px 14px 7px #040607;
  color: var(--foreground);
}

.boxPos {
  transform: translateX(-200%);
}
.interestcard {
  position: relative;
  width: 369px;
  height: 439px;
  display: flex;
  flex-direction: column;
  background: url("./../public/assets/infoBoardBg.png") repeat;
  box-shadow: 7px 14px 11px #0c1319;
  color: var(--foreground);
  justify-content: center;
  align-items: center;
}
.approachCard {
  width: auto;
  height: 439px;
  display: flex;
  flex-direction: column;
  background: url("./../public/assets/infoBoardBg.png") repeat;
  box-shadow: 7px 14px 11px #0c1319;
  color: var(--foreground);
  justify-content: center;
  align-items: center;
}

@media (min-width: 1280px) {
  .cardInner {
    right: 410px;
    top: 40%;
  }
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
