@import "tailwindcss";

:root {
  --background: #0e0d0f;
  --foreground: #d1d1d1;
  --supportingColorBlue: #3b5f7d;
  --terminalBorder: #312f2e;
  --topTerminal: #1c272d;
  --terminalBlue: #1398b6;
  --sharpRed: #e61635;
  --supportingColorGreen: #8edfca;
  --lineStroke: #59575b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-Open_Sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* css shapes */
.trapezoid {
  width: 52%;
  height: 60vh;
  max-height: 486px;
  background: var(--supportingColorBlue);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 74% 100%);
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.yearGredient {
  background: linear-gradient(90deg, #e61635, #4d0c67);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For non-webkit browsers */
  background-clip: text;
  color: transparent;
  font-family: "Baskervville SC", serif;
}

/* Info Board */
.infoBoard {
  /* width: 96%;
  width: 596px; */
  max-width: 620px;
  min-height: 310px;
  background-image: url("./../public/assets/infoBoardBg.png");
  background-color: var(--topTerminal);
  border: 24px solid var(--terminalBorder);
  margin: 42px auto;
  padding: 15px;
  position: relative;
  box-shadow: -20px 13px 12px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.infoBoardHookLeft,
.infoBoardHookRight {
  position: absolute;
  top: -76px;
  background-color: var(--terminalBorder);
  width: 30px;
  height: 56px;
}
.infoBoardHookLeft {
  left: 40px;
}
.infoBoardHookRight {
  right: 40px;
}

/* MIDDLE SECTION */
.inTheTown {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  max-width: 399px;
  height: 369px;
}

.hiThereRightLine {
  position: absolute;
  top: 0;
  right: 0px;
  width: 29px;
  height: 40%;
  background-color: #313f4f;
  z-index: -2;
}
.dottedLine {
  position: absolute;
  top: 100px;
  /* left: 27%;
  right: 50%; */
}
.luggage {
  position: absolute;
  bottom: 280px;
  right: 0;
  /* max-width: 160px;
  height: auto; */
}
.journeyTag {
  /* position: absolute;
  top: 43%;
  right: 80px; */
  /* width: 300px; */
  max-width: 340px;
  color: var(--terminalBlue);
  /* background-color: rgba(25, 27, 30, 0.3);
  box-shadow: 3px 4px 5px #000; */
  z-index: 20;
  /* font-size: 1.7em; */
}
.bracketBox {
  z-index: -10;
}
.bracketBox1,
.bracketBox {
  display: inline-block;
  padding: 16px 24px;
  position: relative;
}

/* Top-left bracket */
.bracketBox::before,
.bracketBox1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-left: 3px solid var(--supportingColorBlue);
  border-top: 3px solid var(--supportingColorBlue);
}

/* Bottom-right bracket */
.bracketBox::after,
.bracketBox1::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-right: 3px solid var(--supportingColorBlue);
  border-bottom: 3px solid var(--supportingColorBlue);
}

/* header */
.headerBg {
  --p: 70px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - var(--p)));
  background: #e4e9ec; /* or whatever you want */
  color: var(--background);
  box-shadow: 9px 7px 6px #000;
}

/* custom scroll csss */
/* Target the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* width for vertical scroll */
  height: 5px; /* height for horizontal scroll */
}
/* Track (background) */
::-webkit-scrollbar-track {
  background: var(--terminalBorder);
  border-radius: 5px;
}
/* Handle (scroll thumb) */
::-webkit-scrollbar-thumb {
  background: var(--terminalBlue);
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--supportingColorGreen);
}

/* delete the below classes */
/* delete the below classes */
/* delete the below classes */
/* delete the below classes */
.lightCol {
  color: #312f2e;
}
.pages {
  width: 100%;
  max-width: 1288px;
  height: auto;
  padding: 40px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}
.half {
  width: 40%;
}
/* Home Slideing Cards */

.section {
  position: relative;
  margin-top: -100px;
  height: 100vh; /* This is the correct value */
  overflow: hidden;
}

.empty {
  opacity: 0;
}

/* Cards container */
.cards {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150vw;
  height: 600px;
  will-change: transform;
}

/* Individual cards */
.card {
  position: absolute;
  width: 369px;
  height: 439px;
  top: 42%;
  left: 50%;
  margin-left: -184.5px;
  transform-origin: center center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* background-color: #1b1a1a; */
  background: url("./../public/assets/infoBoardBg.png") repeat;
  will-change: transform;
  box-shadow: 21px 14px 7px #040607;
  color: var(--foreground);
}

.cardInner {
  position: absolute;
  right: 410px;
  width: 55px;
  height: 55px;
  top: 40%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
}

/* Step Counter */
.step-Counter {
  position: absolute;
  top: 100px;
  z-index: 10;
  background-color: rgba(12, 82, 136, 0.1);
  border-radius: 30% 40% 50% 10%;
}

.counter-title h1 {
  font-size: 80px;
  margin: 0;
  line-height: 1;
}
.loveCards {
  width: 369px;
  min-width: 369px;
  height: 439px;
  display: flex;
  flex-direction: column;
  background: url("./../public/assets/infoBoardBg.png") repeat;
  box-shadow: 21px 14px 7px #040607;
  color: var(--foreground);
}

.boxPos {
  transform: translateX(-200%);
}
.interestcard {
  position: relative;
  width: 369px;
  height: 439px;
  display: flex;
  flex-direction: column;
  background: url("./../public/assets/infoBoardBg.png") repeat;
  box-shadow: 21px 14px 7px #040607;
  color: var(--foreground);
  justify-content: center;
  align-items: center;
}
