:root {
  --background: #0e0d0f;
  --foreground: #d1d1d1;
  --supportingColorBlue: #3b5f7d;
  --terminalBorder: #312f2e;
  --topTerminal: #1c272d;
  --terminalBlue: #1398b6;
  --sharpRed: #e61635;
  --supportingColorGreen: #8edfca;
  --lineStroke: #59575b;
}
